<h1>Fornecedor <%= @supplier.brand_name %></h1>
<h2><%= @supplier.corporate_name %></h2>

<div>
    <dl>
    <dt> <strong>CNPJ:</strong> </dt>
    <dd> <%= @supplier.registration_number %> </dd>
    <dt> <strong>Endereço:</strong> </dt>
    <dd> <%= @supplier.full_address %> - <%= @supplier.city %> - <%= @supplier.state %> </dd>
    <dt> <strong>E-mail:</strong> </dt>
    <dd> <%= @supplier.email %> </dd>
    <dt> <strong>Telefone:</strong> </dt>
    <dd> <%= @supplier.phone %> </dd>
    <dt> <strong>Modelos de Produtos</strong> </dt>
    <dd> <% if @supplier.product_models.any? %>
    <table>
        <thread>
            <tr>
                <th>Nome</th>
                <th>SKU</th>
                <th>Dimensão</th>
                <th>Peso</th>
            </tr>
        </thread>
        <tbody>
            <% @supplier.product_models.each do |pm| %>
            <tr>
                <td><%= link_to pm.name, pm %></td>
                <td><%= pm.sku %></td>
                <td><%= pm.depth %>cm x <%= pm.height %>cm x <%= pm.width %>cm</td>
                <td><%= pm.weight%>g</td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <% else %>
        <p>Não existem modelos de produtos cadastrados.</p>
    <% end %>

    </dd>
    </dl>
</div>



<div>
    <%= link_to 'Editar', edit_supplier_path(@supplier) %>
</div>
<div>
    <%= link_to 'Voltar', root_path %>
</div>