<h1>Galpão <%= @warehouse.code %></h1>
<h3><%= @warehouse.description %></h3>

<div>
    <dl>
    <dt> <strong>Nome:</strong> </dt>
    <dd> <%= @warehouse.name %> </dd>
    <dt> <strong>Cidade:</strong> </dt>
    <dd> <%= @warehouse.city %> </dd>
    <dt> <strong>Área:</strong> </dt>
    <dd> <%= @warehouse.area %> m2 </dd>
    <dt> <strong>Endereço:</strong> </dt>
    <dd> <%= @warehouse.address %> </dd>
    <dt> <strong>Estado:</strong> </dt>
    <dd> <%= @warehouse.state %> </dd>
    <dt> <strong>CEP:</strong> </dt>
    <dd> <%= @warehouse.cep %> </dd>
    </dl>
</div>

<section id="stock_products">
    <h4>Itens em Estoque</h4>
    <ul>
    <% @stocks.each_pair do |product, quantity| %>
    <li><%=quantity%> x <%= product.sku%></li>        
    <%end%>
    </ul>
</section>

<section id="stock_destination">
    <h4>Saída de Estoque</h4>
    <%= form_with(url: warehouse_stock_product_destinations_path(@warehouse.id)) do |f| %>
        <div>
            <%= f.label(:product_model_id, 'Item para Saída')%>
            <%= f.collection_select(:product_model_id, @product_models, :id, :sku)  %>
        </div>
        <div>
            <%= f.label(:recipient, 'Destinatário')%>
            <%= f.text_field(:recipient)%>
        </div>
        <div>
            <%= f.label(:address, 'Endereço Destino')%>
            <%= f.text_field(:address)%>
        </div>
        <div>
            <%= f.submit "Confirmar Retirada"%>
        </div>
    <% end %>
</section>

<div>
    <%= link_to 'Editar', edit_warehouse_path(@warehouse) %>
    <%= button_to 'Remover', @warehouse, method: :delete  %>
</div>
<div>
    <%= link_to 'Voltar', root_path %>
</div>