<!DOCTYPE html>
<html>
  <head>
    <title>Warehouse Management System | TreinaDev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Sistema de Galpões e Estoque</h1>
    <nav><ul>  
      <li> 
        <%= link_to 'Home', root_path %>
      </li>
      <li> 
        <%= link_to 'Cadastrar Galpão', new_warehouse_path %>
      </li>
      <li> 
      <%= link_to 'Fornecedores', suppliers_path %>
      </li>
    </ul></nav>
    </header>
    <br>
    <main>
      <div>
        <%= notice %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
