<!DOCTYPE html>
<html>
  <head>
    <title>Warehouse Management System | TreinaDev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Sistema de Galpões e Estoque</h1>
    <nav><ul>  
      <li> 
        <%= link_to 'Home', root_path %> | 
        <% if user_signed_in? %>
          <%= link_to 'Meus Pedidos', orders_path %> |
          <%= current_user.description %> |
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Entrar', new_user_session_path %>
        <% end %>
      </li>
      <li> 
        <%= link_to 'Cadastrar Galpão', new_warehouse_path %> |
        <%= link_to 'Fornecedores', suppliers_path %> |
        <%= link_to 'Modelos de Produtos', product_models_path %> |
        <%= link_to 'Registrar Pedido', new_order_path %>

        <% if user_signed_in? %>
          <%= form_with(url: search_orders_path, method: :get) do |f|  %>
            <%= f.label :query, 'Buscar Pedido' %>
            <%= f.text_field :query %>
            <%= f.submit 'Buscar' %>
          <% end %>
        <% end %>
        
      </li>
    </ul></nav>
    </header>
    <br>
    <main>
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
